.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.menu__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__text--completed {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #21ba45;
  border-radius: 5px;
  color: #21ba45;
}

.info__text--incompleted {
  padding: 10px;
  border: 1px solid #db2828;
  border-radius: 5px;
  color: #db2828;
}

.hide {
  display: none;
}
